<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace需要映射的接口类  -->
<mapper namespace="chen.mingyu.dao.AdminDao">
	<resultMap id="AdminMap" type="Admin" >
		<id property="adminId" column="admin_id"/>
		<result property="adminName" column="admin_name"/>
		<result property="adminPwd" column="admin_pwd"/>
		<result property="isDelete" column="is_delete"/>
	</resultMap>
	<!-- 查询管理员-->
	<select id="getLoginAdmin" parameterType="Admin" resultMap="AdminMap">
		select admin_id, admin_name, admin_pwd, is_delete
		from admin
         where admin_name = #{adminName}
         	and admin_pwd = #{adminPwd}
         	and is_delete = #{isDelete}
         
	</select>
</mapper>