<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chen.mingyu.dao.GoodsDao">
	<resultMap type="Goods" id="goodsResultMap">
		<id property="g_id" column="g_id"/>
		<result property="g_title" column="g_title"/>
		<result property="g_detail" column="g_detail"/>
		<result property="g_price" column="g_price"/>
		<result property="g_brand" column="g_brand"/>
		<result property="g_number" column="g_number"/>
		<result property="g_inventory" column="g_inventory"/>
		<result property="g_like" column="g_like"/>
		<result property="g_status" column="g_status"/>
		<collection property="ltMage" ofType="chen.mingyu.domain.Images">
			<id property="im_id" column="im_id"/>
			<result property="pathName" column="pathName"/>
			<result property="n_id" column="n_id"/>
			<result property="go_id" column="go_id"/>
		</collection>
	</resultMap>
	<insert id="insertGoods" parameterType="Goods">
		<![CDATA[
			insert into goods(g_id,g_title,g_detail,g_price,g_brand,g_inventory,g_like,g_status) 
				values(#{g_id},#{g_title},#{g_detail},#{g_price},#{g_brand},#{g_inventory},#{g_like},#{g_status})
		]]>
	</insert>
	
	<select id="selectGoodsAllByNumber" resultMap="goodsResultMap">
		select * from goods order by g_number desc limit 6
	</select>
	
	<select id ="selectGoodsAll" resultMap="goodsResultMap">
		select * from goods
	</select>
	
	<select id="selectGoodsBySex" resultMap="goodsResultMap" parameterType="int">
		select * from goods where g_sex = #{g_sex}
	</select>
	
	<update id="alterLike" parameterType="Goods">
		update goods set g_like = #{g_like} where g_id=#{g_id}
	</update>
	
	<update id="deleteGoods" parameterType="String">
		update goods set g_status ='D'  where g_id =#{g_id}
	</update>
	
	<update id ="editGoods" parameterType="Goods">
		update goods set g_title =#{g_title},g_detail=#{g_detail},g_price=#{g_price},g_brand=#{g_brand},g_inventory=#{g_inventory},g_like=#{g_like},g_status=#{g_status}g_sex=#{g_sex}
	</update>
	
	<select id="selectByG_id" resultMap="goodsResultMap" parameterType="String">
		select * from goods where g_id =#{g_id}
	</select>
</mapper>